# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/

# Tests
tests/
pytest.ini
.pytest_cache/

# Android
.gradle/
build/
*.apk
*.aab
local.properties

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Data & Logs
Server/data/
*.log
